body {
    background-color: #f7f7f7;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    height: 100%;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #2980B9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-justify-content: center;
}

.logo {
    width: 200px;
    max-width: 50%;
}

.ticket-container {
    min-height: 60px;
    padding: 20px 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E1E8ED;
    color: #666;
    font-weight: 300;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.ticket-image {
    width: 90px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1px;
}


.ticket-body {
    overflow: hidden;
}

.ticket-body {
    max-width: 500px;
    margin-left: 30px;
}

.arrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: -10px;
    min-width: 40px;
}

.arrow:hover, .arrow:active {
    -webkit-transform: translate(1px, 1px);
        -ms-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
}

.arrow img {
    height: 40px;
    width: 40px;
}

a {
    color: #4AA3DF;
    text-decoration: none;
}


/* SUMMARY VIEW */

.big-image-container {
    width: 100%;
    float: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.src-image {
    width: 100%;
}

.summary-body {
    margin-bottom: 80px;
    padding: 10px;
    color: #444;
}

.big-btn {
    text-align: center;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2ECC71;
    color: white;
    font-weight: 600;
}

/* TICKET VIEW */

.full {
    background-color: #2980B9;
    height: 100%;
    width: 100%;
    position:absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.img-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.big-logo {
    width: 400px;
    max-width: 75%;
    padding-bottom: 50px;
}

.barcode {
    width: 200px;
    max-width: 75%;
    padding-bottom: 30px;
}
